@model CheeseMVC.ViewModels.AddMenuViewModel
@{
    ViewData["Title"] = "New Menu";
}

<h1>Add Menu</h1>

<form asp-controller="Menu" asp-action="Add" method="post">
    <div class="form-group">
        <input asp-for="@Model.Name"/>
        <span asp-validation-for="@Model.Name"></span>
        <input type="submit" value="Create Menu"/>
    </div>
</form>